<h1>NSN flower online shop　管理者ページ</h1>

<div class="span5">
      <table class="table">
        <tbody>
          <tr>
            <td><%= link_to '商品の追加', manage_items_path %></td>
          </tr>
          <tr>
            <td><%= link_to 'インフォメーション情報の追加', information_index_path %>
</td>
          </tr>
          <tr>
            <td><%= link_to 'NSN flower online shop', top_path %></td>
          </tr>
        </tbody>
      </table>
    </div>
