<h1>NSN flower online shop　管理者ページ</h1>

<%= link_to '商品の追加', items_path %>
<br />
<br />

<%= link_to 'インフォメーション情報の追加', information_index_path %>

<br />
<br />


<%= link_to 'NSN flower online shop', top_path %>
